* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #212121;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#search-form {
  font: inherit;
  /* max-width: 320px; */
  /*  */
  position: relative;
  width: 20rem;
  border-radius: 10px;
}

.search-form input,
.search-form button {
  border: 0;
  padding: 5px;
  font-size: 1rem;
}

.search-form input {
  /*  <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
  outline: 0;
  width: 100%;
  border-radius: 10px;
  /* //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work */
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-form button {
  /* // prevent being able to tab to it */
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;

  border-radius: 0 10px 10px 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.search-form input:not(:placeholder-shown) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 6rem);
  /* + button {
    display: block;
  } */
}

input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Gallery */
.gallery_section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  width: calc((100% - 20px * 4) / 5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
